<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head') %>
<!-- Head -->
<body>
    <!-- Header -->
<%- include('./partials/header') %>
    <!-- Header -->
    <div>
        <img src="../img/login-bg.jpg" alt="background image of an air conditioner">
    </div>
    <main>
        <div>
            <div class="wrapper">
                <div class="container">
                  <div class="top"></div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      <div class="buy"><span class="material-symbols-outlined">
                        add_shopping_cart
                        </span></div>
                    </div>
                    <div class="right">
                      <div class="done"><i class="material-icons">done</i></div>
                      <div class="details">
                        <h1>Chair</h1>
                        <p>Added to your cart</p>
                      </div>
                      <div class="remove"><i class="material-icons">clear</i></div>
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><span class="material-symbols-outlined">
                    info
                    </span></div>
                  <div class="contents">
                    <table>
                      <tr>
                        <th>Width</th>
                        <th>Height</th>
                      </tr>
                      <tr>
                        <td>3000mm</td>
                        <td>4000mm</td>
                      </tr>
                      <tr>
                        <th>Something</th>
                        <th>Something</th>
                      </tr>
                      <tr>
                        <td>200mm</td>
                        <td>200mm</td>
                      </tr>
                      <tr>
                        <th>Something</th>
                        <th>Something</th>
                      </tr>
                      <tr>
                        <td>200mm</td>
                        <td>200mm</td>
                      </tr>
                      <tr>
                        <th>Something</th>
                        <th>Something</th>
                      </tr>
                      <tr>
                        <td>200mm</td>
                        <td>200mm</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- Footer -->
    <!-- Links -->
    <script src="../js/productsCard.js"></script>
</body>
</html>